<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading" data-translate="backup">
        Backup
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="pull-right">
            <button class="btn btn-success" ng-click="opctrl.backupAll()">
              Backup
            </button>
          </span>
          <h5 class="list-group-item-heading"><strong data-translate="backupConfiguration">Backup Configuration</strong></h5>
          <p class="list-group-item-text" data-translate="backupAll">Backup all your settings and keys in a file.</p>
        </li>
        <li class="list-group-item">
          <span class="pull-right">
            <button class="btn btn-success" ng-click="opctrl.backupKeys()">
              <span data-translate="backupButton">Backup</span>
            </button>
          </span>
          <h5 class="list-group-item-heading"><strong data-translate="backupKeys">Backup Keys</strong></h5>
          <p class="list-group-item-text" data-translate="backupAllKeysInAFile">Backup all your keys in a file.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading" data-translate="restore">
        Restore
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="pull-right">
            <button class="btn btn-primary" ng-click="opctrl.restoreAll()" >
              <span data-translate="restore">Restore</span>
            </button>
          </span>
          <input type="file" id="config-file" style="display: none">
          <h5 class="list-group-item-heading"><strong data-translate="restoreConfiguration">Restore Configuration</strong></h5>
          <p class="list-group-item-text"><span data-translate="restoreAllYourSettings">Restore all your settings and keys from a file.</span></p>
        </li>
        <li class="list-group-item">
          <span class="pull-right">
            <button class="btn btn-primary" ng-click="opctrl.restoreKeys()">
              <span data-translate="restore">Restore</span>
            </button>
          </span>
          <input type="file" id="keys-file" style="display: none">
            <h5 class="list-group-item-heading"><strong><span data-translate="restoreKeys">Restore Keys</span></strong></h5>
            <p class="list-group-item-text"><span data-translate="restoreAllKeysFromAFile">Restore all your keys from a file.</span></p>
        </li>
      </ul>

    </div>
  </div>
</div>
